.Board {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.Board-ListsWrapper {
  flex-grow: 1;
  position: relative;
}

.Board-Lists {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  overflow-x: auto;
  white-space: nowrap;
}
