.TextEditor-Form {
  display: flex;
}

.TextEditor-Form--Row {
  flex-direction: row;
}

.TextEditor-Form--Column {
  flex-direction: column;
}

.TextEditor-Form--Column .TextEditor-FormSubmit {
  margin-top: 10px;
}

.TextEditor-FormField {
  flex-grow: 1;
}
