@import url('./styles/buttons.css');
@import url('./styles/reusable.css');

html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#root {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.fg-1 {
  flex-grow: 1;
}

.mb {
  margin-bottom: 0.75rem;
}

.btn-reset {
  border: none;
  background: none;
}

.panel {
  padding: 5px;
}
